<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('Sign Up')">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<h1>Create an account</h1>
<div th:if="${param.error}">
    Username/Email already in use.
</div>
<form th:action="@{/users/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <input value="Sign me up!" type="submit" />
</form>

</body>
</html>