body {
    background-color: lightpink;
    color: cadetblue;
}
p {
    background-color: lightpink;
}
button.navbar-toggle{
    border: 2px solid cadetblue;
    /*background-color: cadetblue;*/
}
span.icon-bar{
    background-color: cadetblue;
}
a{color: cadetblue}