body {
    background-color: lightpink;
    color: cadetblue;
}
p {
    background-color: lightpink;
}
button.navbar-toggle{
    border: 2px solid cadetblue;

}
button.navbar-toggle:hover{
    background-color: #FF90AD;
}
.nav>li>a:hover{
    background-color: #FF90AD;
}
span.icon-bar{
    background-color: cadetblue;
}
a{color: cadetblue}