<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('Login')">
    <meta charset="UTF-8" />
    <title>Log In</title>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <td>
    <label for="username">Username:</label>
            </td>
            <td>
    <input id="username" name="username" type="text" />
            </td>
        </tr>
        <tr>
            <td>
    <label for="password">Password:</label>
            </td>
            <td>
    <input id="password" name="password" type="password" />
            </td>
        </tr>
        <tr>
            <td>
    <input type="submit" value="Log In" />
            </td>
        </tr>
    </table>
</form>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>